<div class="row">
  <mat-form-field class="form-width" (@flyInOut.done)="logAnimation($event)" [@flyInOut]="state">
    <input (input)="onEntropyInput($event)" matInput placeholder="entropy" [formControl]="entropyControl" />
    <mat-error *ngIf="entropyControl.hasError('hex')">
      {{entropyControl.getError('hex')}}
    </mat-error>
  </mat-form-field>

  <mat-form-field class="form-width" [@flyInOut]="state">
    <input (input)="onMnemonicInput($event)" matInput placeholder="mnemonic" [formControl]="mnemonicControl" />
    <mat-error *ngIf="mnemonicControl.hasError('mnemonic')">
      {{mnemonicControl.getError('mnemonic')}}
    </mat-error>
  </mat-form-field>
</div>

<div class="row">
  <button mat-raised-button (click)="onGenerateClick()">Generate</button>
  <button mat-raised-button (click)="onDebugClick()">Debug</button>
</div>