<div class="row">
  <mat-form-field class="form-width">
    <input matInput placeholder="private key" [(ngModel)]="privateKey" (input)="onPrivateKeyInput()" />
  </mat-form-field>
  <button mat-raised-button (click)="onGenerateClick()">Generate</button>
</div>

<div class="row">
  <mat-form-field class="form-width">
    <input matInput placeholder="public key compressed" [(ngModel)]="publicKey" (input)="onPublicKeyInput()">
  </mat-form-field>
</div>

<div class="row">
  <mat-form-field class="form-width">
    <input matInput placeholder="bitcoin address" [(ngModel)]="bitcoinAddress" readonly>
  </mat-form-field>
</div>

<div class="row">
  <mat-form-field class="form-width">
    <input matInput placeholder="data" [(ngModel)]="data">
  </mat-form-field>
</div>

<div class="row">
  <button mat-raised-button (click)="onCreateSignatureClick()">Create Signature</button>
  <button mat-raised-button (click)="onVerifySignatureClick()">Verify Signature</button>
</div>

<div class="row">
  <mat-form-field class="form-width">
    <input matInput placeholder="signature" [(ngModel)]="signature">
  </mat-form-field>
</div>