<div class="row">
  <mat-form-field class="form-width">
    <input (input)="onPrivateKeyInput($event)" matInput placeholder="private key" [formControl]="privateKeyControl" />
    <mat-error *ngIf="privateKeyControl.hasError('hex')">
      Invalid hex
    </mat-error>
  </mat-form-field>

  <mat-form-field class="form-width">
    <input (input)="onPublicKeyInput($event)" matInput placeholder="public key compressed" [formControl]="publicKeyControl" />
    <mat-error *ngIf="publicKeyControl.hasError('hex')">
      Invalid hex
    </mat-error>
  </mat-form-field>

  <mat-form-field class="form-width" *ngIf="!hacking">
    <input matInput placeholder="bitcoinAddress" [formControl]="bitcoinAddressControl" readonly/>
  </mat-form-field>

  <mat-form-field class="form-width">
    <input matInput placeholder="data1" [formControl]="data1Control" />
    <mat-error *ngIf="data1Control.hasError('hex')">
      Invalid hex
    </mat-error>
  </mat-form-field>

  <mat-form-field class="form-width" *ngIf="hacking">
    <input matInput placeholder="data2" [formControl]="data2Control" />
    <mat-error *ngIf="data2Control.hasError('hex')">
      Invalid hex
    </mat-error>
  </mat-form-field>

  <mat-form-field class="form-width" *ngIf="hacking">
    <input matInput placeholder="k" [formControl]="kControl"/>
    <mat-error *ngIf="kControl.hasError('hex')">
      Invalid hex
    </mat-error>
  </mat-form-field>
</div>

<div class="row">
  <button mat-raised-button (click)="onGenerateClick()">Generate</button>
  <button mat-raised-button (click)="onCreateSignatureClick()">Create Signature</button>
  <button mat-raised-button (click)="onVerifySignatureClick()">Verify Signature</button>
  <button mat-raised-button (click)="onHackSignatureClick()" [style.visibility]="hacking ? 'visible' : 'hidden'">Hack Signature</button>
  <mat-checkbox [(ngModel)]="hacking">Hack</mat-checkbox>
</div>

<div class="row">
  <mat-form-field class="form-width">
    <input matInput placeholder="signature1" [formControl]="signature1Control" />
    <mat-error *ngIf="signature1Control.hasError('hex')">
      Invalid hex
    </mat-error>
  </mat-form-field>

  <mat-form-field class="form-width" *ngIf="hacking">
    <input matInput placeholder="signature2" [formControl]="signature2Control" />
    <mat-error *ngIf="signature2Control.hasError('hex')">
      Invalid hex
    </mat-error>
  </mat-form-field>
</div>