<div class="row">
  <div class="form-width">
    <mat-form-field class="form-width">
      <input matInput placeholder="private key" [(ngModel)]="privateKey" (input)="onPrivateKeyInput()" />
    </mat-form-field>
  </div>
  <mat-form-field class="form-width">
    <input matInput placeholder="public key compressed" [(ngModel)]="publicKey" (input)="onPublicKeyInput()">
  </mat-form-field>
  <mat-form-field class="form-width" *ngIf="!hacking">
    <input matInput placeholder="bitcoin address" [(ngModel)]="bitcoinAddress" readonly>
  </mat-form-field>
  <mat-form-field class="form-width">
    <input matInput placeholder="data1" [(ngModel)]="data1">
  </mat-form-field>
  <mat-form-field class="form-width" *ngIf="hacking">
    <input matInput placeholder="data2" [(ngModel)]="data2">
  </mat-form-field>
</div>

<div class="row">
    <button mat-raised-button (click)="onGenerateClick()">Generate</button>
  <button mat-raised-button (click)="onCreateSignatureClick()">Create Signature</button>
  <button mat-raised-button (click)="onVerifySignatureClick()">Verify Signature</button>
  <button mat-raised-button (click)="onHackSignatureClick()" [style.visibility]="hacking ? 'visible' : 'hidden'">Hack Signature</button>
  <mat-checkbox [(ngModel)]="hacking">Hack</mat-checkbox>
</div>

<div class="row">
  <mat-form-field class="form-width">
    <input matInput placeholder="signature1" [(ngModel)]="signature1">
  </mat-form-field>
  <mat-form-field class="form-width" *ngIf="hacking">
    <input matInput placeholder="signature2" [(ngModel)]="signature2">
  </mat-form-field>
</div>