<div class="row">
  <div class="container">
    <mat-card>
      <mat-card-content>
        <div>
          <mat-form-field class="coinInputField">
            <textarea [(ngModel)]="textAreaData" matInput placeholder="Coin Data" matTextareaAutosize matAutosizeMinRows="1" matAutosizeMaxRows="5"></textarea>
          </mat-form-field>
        </div>
        <div>
          <button mat-raised-button (click)="onSubmit(textAreaData)">Submit</button>
          <mat-checkbox [(ngModel)]="showUsdValue" style="padding-left:15px">Show USD Value</mat-checkbox>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<div>
  <div class="grid-container">
    <coin-grid [entropy]="entropy" [userData]="userData" [showUsdValue]="showUsdValue"></coin-grid>
  </div>
</div>