.flex-container {
    display: flex;
    flex-wrap: wrap;
    background-color: lightgray;
    justify-content: center;
  }

.row{
    padding: 10px 0px 10px 0px
}

.demo-card-wide.redBlock{
    background-color: lightcoral;
}

.demo-card-wide.mdl-card {
    width: 650px;
    font-family: 'Times New Roman', Times, serif;
}

.demo-card-wide > .mdl-card__supporting-text {
    color: black;
    font-size: 105%;
  }