<div class="row">
  <form>
    <!-- <mat-form-field class="example-full-width">
      <input [ngModelOptions]="{standalone: true}" matInput placeholder="Script" [(ngModel)]="source">
    </mat-form-field> -->
    <mat-form-field class="example-full-width">
      <textarea matInput placeholder="Autosize textarea" [(ngModel)]="source" matTextareaAutosize matAutosizeMinRows="10" matAutosizeMaxRows="50"
        [ngModelOptions]="{standalone: true}"></textarea>
    </mat-form-field>
    <div>
      <button mat-raised-button (click)="evaluate()">Evaluate</button>
    </div>
  </form>
</div>
<div class="row">
  <div>
    <!-- <mat-form-field>
    </mat-form-field> -->
    <input matInput placeholder="Executed Script" [value]="executedScript" readonly>
  </div>
  <div>
    <input matInput placeholder="Result" [value]="result" readonly>
  </div>
</div>